body{
    background-image: url(./birds-eye-view-houses.jpg);
    background-size: 100%;
}

.splashwrap{
    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: column;
    margin-top: 300px;
}

.headerwrap{
    text-align: center;
    color: azure;
    text-shadow: -1px -1px 0 #000,
                -1px -1px 0 #000,
                -1px 1px 0 #000,
                -1px 1px 0 #000;
}

/* .headerwrap h1{
    outline: 5px;
    outline-color: black;
    

} */

/* .splashwrap button{
    align-self:center;
} */