*{
    font-family: 'Poppins', sans-serif;
}

#landingpage{
    background-image: url(./birds-eye-view-houses.jpg);
    background-size: 100%;
    min-height: 699px;
    position: relative;
    text-align: center;
    -webkit-animation: fadein 3s; 
    background-position: center;
    background-attachment: fixed;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.content{
    min-height: calc(100vh - 50px);
}

footer{
    position: relative;
    text-align: center;
    padding: 10px;
    height:50px;
}

.modal-header{
    background-color: #66cc91;
}

.modal-title{
    text-align: center;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.headerwrap{
    text-align: center;
    color: azure;
    text-shadow: -1px -1px 0 #000,
                -1px -1px 0 #000,
                -1px 1px 0 #000,
                -1px 1px 0 #000;
}

#navbar{
    background-color: #66cc91;
}

#navbar h3{
    padding: 5px 8px 0 8px;
}

#navbar a{
    color: #000;
    text-decoration: none !important;
}

#signoutButton{
    margin-top: 3px;
}

#navPic {
    max-width: 100%;
    cursor: pointer;
}

#navPic_div{
    width:40px;
    margin:3px;
}

#logo{
    width:50px;
    height: 40px;
}

#parking_pic{
    width:240px;
    height:160px;
}

#profile_img{
    width: 50%;
}

#card_div{
    background-color: #66cc9125;
    margin-bottom: 5px;
}

#reservation_block{
    min-height: 300px;
}

#content_cutoff{
    white-space: nowrap; 
    width: 150px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

#payment_disclaimer{
    font-size: 12px;
    color: red;
}

#edit_forms{
    background-color: #66cc9125;
}

#image_field{
    background-color: white;
}

#review_edit_form{
    width:400px;
    background-color: #66cc9125;
}

#error_message{
    width: 350px;
    font-size: 14px;
}

.sidenav {
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #66cc9199;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 30px;
}

#you_own_space{
    margin-top: 100px;
    text-align: center;
}

#user_page_div{
    display: flex;
    flex-direction: row;
}

#map{
    width: 600px;
    height: 450px;
}

#parking_page_div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#parking_post_div{

    max-width: 600px;
    max-height: 450px;
}

#parking_post_div img{
    max-width: 600px;
    max-height: 450px;
}

#res_rev_divs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#reserve_form, #reviews_div{
    width: 600px;
    margin-top:80px;
}

#managespace_page{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:30px;
}

#managespace_div{
    width: 600px;
    background-color: #66cc9125;
}

#renters_div{
    width:600px;
}

#carPic{
    width:50%;
}

@media only screen and (max-width: 500px){
    #user_page_div{
        display: flex;
        flex-direction: column;
    }
    #nav_greeting{
        display:none !important;
    }
    #map {
        width: 350px;
        height: 250px;
        margin-top: 100px;
    }
    #parking_page_div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #parking_post_div{
        max-width: 350px;
        max-height: 250px;
    }
    
    #parking_post_div img{
        max-width: 350px;
        max-height: 250px;
    }

    #res_rev_divs{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #reserve_form, #reviews_div{
        width: 350px;
        margin-top:20px;
    } 

    #managespace_page{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top:30px;
    }
    #managespace_div, #renters_div{
        width: 350px;
        margin-bottom:30px;
    }
    #thank_you{
        font-size: 30px;
    }
    #carPic{
        width:75%;
    }
    #parking_pic{
        width:350px;
        height:250px;
    }
}