{% extends "layout.html" %}
{% from 'macros.html' import render_field %}

{% block login %}
    <form method="POST" action="" class="form">
        {{ log_in_form.hidden_tag() }}

        {% for field in log_in_form %}
            {{ render_field(field) }}
        {% endfor %}
        <button type="submit" class="btn btn-dark" id="submit">Log In!</button>
    </form>
{% endblock %}

{% block signup %}
    <form method="POST" action="" class="form">
        {{ sign_up_form.hidden_tag() }}

        {% for field in sign_up_form %}
            {{render_field(field)}}

        {% endfor %}
        <button type="submit" class="btn btn-dark" id="submit">Register!</button>
    </form>
{% endblock %}

{% block content %}
<h3 class='pl-3 pt-2'>Find a driveway to park in!</h3>
<div id="parking_space_list" class="row">
    {% for parking in parkings %}
        <div id = 'parking_spaces_div' class="d-flex flex-column col align-items-center">
            <a href={{url_for('parking', parkingid=parking.id)}}><img id = 'parking_pic' src= {{parking.parkingPic}}/></a>
            <div>{{parking.price}}</div>
            <div>{{parking.description}}</div>
            <div>{{parking.location}}</div>
        </div>
    {% endfor %}
</div>
{% endblock %}
