<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>    
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <title>DriveWayz</title>
</head>
<body>
    <div class="content">
        {% if not current_user.is_authenticated %}
        <section id="landingpage">
            <div class="dark-overlay d-flex flex-column justify-content-center align-items-center">
                <header class="headerwrap ">
                    <h1>DriveWayz</h1>
                    <h3>Reserve a driveway today</h3>
                </header>

                <div id="modalwrap">
                    <!-- Button trigger Log in Modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#LogInButton">Log In</button>
                    <!-- Log in Modal -->
                    <div class="modal fade" id="LogInButton" tabindex="-1" role="dialog" aria-labelledby="LogInModalTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="LogInModalTitle">Log In</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div id="error_message" class="text-center">
                                    {% with messages = get_flashed_messages(with_categories=True) %}
                                        {% if messages %}
                                            {% for category, message in messages %}
                                                <div class={{category}}>{{ message }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}
                                </div>
                                <div class="modal-body">
                                    {% block login %}
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Button trigger Sign Up Modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#SignUpButton">Sign Up</button>
                    <!-- Sign Up Modal -->
                    <div class="modal fade" id="SignUpButton" tabindex="-1" role="dialog" aria-labelledby="SignUpModalTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="SignUpModalTitle">Sign Up</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div id="error_message" class="text-center">
                                    {% with messages = get_flashed_messages(with_categories=True) %}
                                        {% if messages %}
                                            {% for category, message in messages %}
                                                <div class={{category}}>{{ message }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}
                                </div>
                                <div class="modal-body">
                                    {% block signup %}
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}


        {% if current_user.is_authenticated %}
        <!-------------- NAVBAR ------------------->
            <div class="d-flex justify-content-between" id="navbar">
                <div class="d-flex justify-content-start">
                    <img id="logo" src={{url_for("static", filename="Logo.png")}}>
                    <a id="#" href="{{ url_for('index') }}"><h3>DriveWayz</h3></a>
                </div>
                <nav id="#">
                    <div class="d-flex justify-content-end">
                        {% if current_user.is_authenticated %}
                            <a id="nav_greeting"><h3>Hello {{current_user.username}}</h3></a>
                            <a id="navPic_div" class="d-flex flex-column align-itens-center" onclick="openNav()"><img id="navPic" src="{{ url_for('static', filename='profile_pics/' + current_user.profileImgUrl) }}" /></a>
                        {% endif %}
                    </div> 

                    <div id="mySidenav" class="sidenav">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                        <a href={{url_for('profilepage', username=current_user.username)}}>My Profile</a>
                        <a href="{{url_for('logout')}}"><button class="btn btn-dark" id="signoutButton">Sign Out</button></a>
                    </div>
                </nav> 
            </div> 
            <div class="d-flex flex-row justify-content-center">
                <div id="error_message" class="text-center">
                    {% with messages = get_flashed_messages(with_categories=True) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-success alert-dismissible p-3" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        {% block content %}
        {% endblock %}
    </div>
    <footer class="d-flex flex-column align-items-center">    
            <p class="copyright">&copy;2019 DriveWayz, Alomgir Hossain</p>
    </footer>
    {% endif %}

</body>
</html>