{% extends "layout.html" %}
{% from 'macros.html' import render_field %}

{% block content %}
<div id='parking_page_div' class="d-flex flex-row justify-content-around">
    <div id='parking_post_div' class="d-flex flex-column col align-items-center">
            <img src= {{parking.parkingPic}}/>
            <div>{{parking.price}}</div>
            <div>{{parking.description}}</div>
            <div>{{parking.location}}</div>
    </div>

    <div id="#" class="">
            <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q={{parking.location}}&key=AIzaSyAVi2f6ymqCncDvu6tMlbsFGPq-kVK5WGE" allowfullscreen></iframe>
    </div>
</div>

<div class="d-flex flex-row justify-content-around">
    {% if current_user.id == parking.user_id %}
    <h5 class="mt-5">You own this parking space</h5>
    {% else %}
    <div id='reserve_form' class="d-inline-block">
        <h3>Reserve this driveway</h3>
        <form class="" method="POST" action="" novalidate>
            {{ form.hidden_tag()}}
            {% for field in form %}
                {{render_field(field)}}
            {% endfor %}
            <button type="submit" class="btn btn-primary">Reserve</button>
        </form>
    </div>
    {% endif %}
    <div id="reviews_div">
        <h3>Reviews</h3>
        {% for review in reviews %}
            <div id="card_div">
                <div>{{ review.content }}</div> 
                By:{{review.user.username}}
            </div>
        {% endfor %}

        <form class="" method="POST" action="/parking/{{parking.id}}/createreview" novalidate>
            {{ review_form.hidden_tag()}}
            {{review_form.content()}}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>


{% endblock %}

