{% extends "layout.html" %}

{% block content %}
<div id='parking_page_div' class="d-flex flex-row justify-content-around">
    <div id='parking_post_div' class="d-flex flex-column col align-items-center">
            <img src="{{ url_for ('static',filename='parking_pics/' + parking.parkingPic) }}"/>
            <div>{{parking.price}}</div>
            <div>{{parking.description}}</div>
            <div>{{parking.location}}</div>
    </div>

    <div id="#" class="">
            <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q={{parking.location}}&key=AIzaSyAVi2f6ymqCncDvu6tMlbsFGPq-kVK5WGE" allowfullscreen></iframe>
    </div>
</div>

<div class="d-flex flex-row justify-content-around">
    {% if current_user.id == parking.user_id %}
    <h5 class="mt-5">You own this parking space</h5>
    {% else %}
    <div id='reserve_form' class="d-inline-block">
        <h3>Reserve this driveway</h3>
        <form class="form-group" method="POST" action="" novalidate>
            {{ form.hidden_tag()}}
            {{ form.resDate.label }}
            <input type="date" {{ form.resDate()}}>
            <p>How many days?</p> 
                <select {{ form.duration()}}>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                </select>
            <button type="submit" class="btn btn-primary">Reserve</button>
        </form>
    </div>
    {% endif %}
    <div id="reviews_div">
        <h3>Reviews</h3>
        {% for review in reviews %}
            <div id="card_div" class="d-flex flex-start">
                <img class='mr-2' height="50" width="50" src="{{ url_for ('static',filename='profile_pics/' + review.user.profileImgUrl) }}"/>
                <div>
                    <div>{{ review.content }}</div> 
                    By:{{review.user.username}}
                </div>
            </div>
        {% endfor %}

        <form class="" method="POST" action="/parking/{{parking.id}}/createreview" novalidate>
            {{ review_form.hidden_tag()}}
            {{ review_form.content()}}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>


{% endblock %}

