{% extends "layout.html" %}

{% block content %}

<div id='#' class="d-flex flex-column align-items-center">
    <h3>Edit Your Reservation</h3>
    <form class="d-flex flex-column p-3" id="edit_forms" method="POST" action="" novalidate>
            {{ form.hidden_tag()}}
            {{ form.resDate.label(class="text-center")}}
            <input type="date" {{ form.resDate()}}    >
            <p class="text-center">How many days?</p> 
                <select {{ form.duration()}}>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                </select>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

{% endblock %}