{% extends "layout.html" %}

{% block content %}

    <div id='#' class="d-flex flex-column justify-content-center align-items-center mt-5">
        <h3>Edit Your Review</h3>
        <form class="d-flex flex-column  p-3" id="review_edit_form" method="POST" action="" novalidate>
                {{ form.hidden_tag()}}
                <div class="text-center">{{ review.review_date}}</div>
                {{ form.content.label(class="text-center")}}
                {{ form.content ( value=review.content ) }}
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>

{% endblock %}