{% extends "layout.html" %}

{% block content %}
    <div class="d-flex flex-row">
        <div class="d-flex flex-column align-items-center col mt-5 ml-2" id="profile_div">
            <img class="mt-3" id="profile_img" src="{{ profileImgUrl }}" />
            <img class='mt-3' width="25%" src="{{ carPic }}"/>
            <h5>{{ user.fullname }}</h5>
            <h5>{{ user.username }}</h5>
            <h5>{{ user.email }}</h5>
            <h5>{{ user.address }}</h5>
            <h5>{{ user.phoneNumber }}</h5>
            <h5>Member since <time data-time="{{ user.joined_at }}" class="distime" datetime="{{ user.joined_at.strftime('%m-%d-%Y') }}">{{ user.joined_at.strftime('%m-%d-%Y') }}</time></h5>
            <a href={{url_for('edit_profile', userid=user.id)}}><button class="btn btn-dark mt-2" id="submitButton">Edit</button></a>
        </div>

        <div class="col mt-5">
            <div id="reservation_block">
                <h4 class="text-center">My Reservations</h4>
                {% for reservation in reservations %}
                    <div class="d-flex flex-row justify-content-around" id="card_div">
                        <a class="mt-3" href={{url_for('parking', parkingid=reservation.parking_id )}}><p id="content_cutoff">{{reservation.parking.description}}</p></a>
                        <p class="mt-3">{{ reservation.resDate }} </p>
                        <a href={{url_for('edit_res', resid=reservation.id)}}><button class="btn btn-dark mt-2" id="submitButton">Edit</button></a>
                        <a href={{url_for('delete_res', resid=reservation.id)}}><button class="btn btn-danger mt-2" id="submitButton">Delete</button></a>
                    </div>
                {% endfor %}
            </div>

            
            <div id="">
                <h4 class="text-center">My Reviews</h4>
                {% for review in reviews %}
                    <div class="d-flex flex-row justify-content-around" id="card_div">
                        <a class="mt-3" href={{url_for('parking', parkingid=review.parking_id )}}><p id="content_cutoff">{{review.content}}</p></a>
                        <p class="mt-3">{{ review.review_date }}</p>
                        <a href={{url_for('edit_rev', revid=review.id)}}><button class="btn btn-dark mt-2" id="submitButton">Edit</button></a>
                        <a href={{url_for('delete_rev', revid=review.id)}}><button class="btn btn-danger mt-2" id="submitButton">Delete</button></a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col d-flex flex-column align-items-center mt-5">
            {% if user.is_host == True %}
            <button type="button" id='res_button' class="btn btn-success" data-toggle="modal" data-target="#ReserveButton">Host Mode</button>
            {% else %}
            <button type="button" id='res_button' class="btn btn-primary" data-toggle="modal" data-target="#ReserveButton">Host Mode</button>
            {% endif %}
            <!-- Host Modal -->
            <div class="modal fade" id="ReserveButton" tabindex="-1" role="dialog" aria-labelledby="HostModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="HostModalTitle">Host a parking spot</h5>
                            <button type="button" class="close flex-end" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method='POST'class='d-flex flex-column align-items-center' >
                                {{form.hidden_tag()}}
                                {% if user.is_host == False %}
                                <div>Activate Host Mode {{form.is_host(value=False)}}</div>
                                {% else %}
                                <div>Deactivate Host Mode {{form.is_host(value=True)}}</div>
                                {% endif %}
                                <button type="submit" class="btn btn-primary">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {% if user.is_host == True %}
            <button class="btn btn-primary mt-2" data-toggle="modal" data-target="#ParkingSpaceButton">Create Parking Space</button>
            <!-- Create Parking Space Modal -->
            <div class="modal fade" id="ParkingSpaceButton" tabindex="-1" role="dialog" aria-labelledby="ParkingSpaceTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ParkingSpaceTitle">Parking Space Details</h5>
                            <button type="button" class="close flex-end" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="d-flex flex-column align-items-center" method="POST" action="/profile/{{user.username}}/createspace" novalidate>
                                    {{ parking_form.hidden_tag()}}
                                    {{ parking_form.price.label }}
                                    {{ parking_form.price()}}
                                    {{ parking_form.description.label }}
                                    {{ parking_form.description()}}
                                    {{ parking_form.location.label }}
                                    {{ parking_form.location()}}
                                <button type="submit" class="btn btn-primary mt-2">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column align-items-center">
                <h4 class="text-center"> Manage My Parking Spaces</h4>
                {% for parking in parkings %}
                    <a class="d-flex flex-column align-items-center" href={{url_for('managespace', parkingid=parking.id)}}><img width="50%" src="{{ url_for ('static',filename='parking_pics/' + parking.parkingPic) }}"/></a>
                    <h5>{{ parking.description }}</h5>
                {% endfor %}
            </div>


            {% else %}
            <p>Earn some money! Activate host mode!</p>
            {% endif %}
        
        </div>
    
    </div>

{% endblock %}
